{% extends 'main/base.html'%}
{% block title %}About Us{% endblock %}
{% block content %}
<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Us | BLT Sandwich Shop</title>
    <meta name="description" content="BLT sandwich shop home page" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <h1>About Us</h1>
    <h2>This is a test to see if I did everything properly when it comes to forking and cloning the repo. I'll add more to the about us page</h2>
  </body>
</html>
{% endblock %}