{% extends 'main/base.html'%}
{% block title %}Home Page{% endblock %}
{% block content %}
<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home | BLT Sandwich Shop</title>
    <meta name="description" content="BLT sandwich shop home page" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <h1>Home Page</h1>
    <h2>Testing home page</h2>
  </body>
</html>
{% endblock %}